img.cube {
    height: 400px;
    width: 600px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
main.detailsMain {
    margin: 0 4em;
    border-radius: 15px;
    padding: 2em;
}
h1.detailsHeader {
    text-align: center;
    text-transform: uppercase;
}
a.detailsButton {
    border: none;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    width: 12%;
    margin: 12px;
    border-radius: 12px;
    background: rgb(67, 122, 124);
    color: white;
}
a.detailsButton:hover{
    background-color: rgb(248, 215, 107);
}
div.details {
    text-align: center;
    display: block;
    margin: auto;
    width: 1000px;
    background-color: #5193d1;
    padding: 1em;
    border-radius: 12px;
}
span.detailsSpan {
    font-weight: bolder;
    font-size: 17px;
    font-style: italic;
    text-align: center;
    padding: 10px;
}