@import url('https://fonts.googleapis.com/css?family=Open+Sans');
img {
    height: 200px;
    width: auto;
}
img.cube {
    display: block;
    margin: 0 auto;
    text-align: center;
}

div.cube {
    display: inline-block;
    border: 2px solid #2d4b6433;;  
    margin: 0cm 0.2cm 0.3cm 0cm;
    background: white;
    width: 24%;
    vertical-align: top;
}

div.cube:hover p.name {
    background: #2f71af;
    color: white;
}

p.name {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 1px solid #2b415433;
}
a.btn:hover{
    background-color: #138fd6; /* Green */
  color: white;
  cursor: pointer;
}

a.btn {
    display: inline;
    padding: 8px 20px;
    font-size: 20px;
    font-style: italic;
    color: rgb(255, 255, 255);
    background-color: #2f71af;
    margin: 0cm 3.9cm 0cm 1cm;
    border-radius: 12px;
}


span.spanDif {
    font-weight: bolder;
    font-size: 17px;
    font-style: italic;
    text-align: center;
    padding: 10px;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
.deletebtn{
    background-color: red;
}


/* Set a style for all buttons */
button {
  background-color: #138fd6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #138fd6;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #cc3333;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}
.modalContent {
    position: absolute;
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 3px solid #888;
    left: 12cm;
    width: 30cm /* Could be more or less, depending on screen size */
  }