.headerForLogin{
    background: cadetblue;
    color: white;
    text-align: center;
    padding: 20px;
    width: 36%;
    margin: auto;
    margin-bottom: 0.3cm;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

div.noApartaments {
    color:white;
    font-size: 32px;
    font-weight:700;
    text-align: center;
    display: block;
    margin: auto;
    width: 500px;
    background-color: #234465;
    padding: 2em;
    border-radius: 12px;
    margin-bottom: 8.8cm;
    
}




